<h1>Sign Up</h1>

<%= form_for(@user, html:{class: "form-horizontal" }) do |f|  %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p class="control-group">
    <%= f.label :email, class: "control-label" %>
    <%= f.text_field :email, class: "controls" %>
  </p>
  <p class="control-group">
    <%= f.label :password, class: "control-label" %>
    <%= f.password_field :password, class: "controls" %>
  </p>
  <p class="control-group">
    <%= f.label :password_confirmation, class: "control-label" %>
    <%= f.password_field :password_confirmation, class: "controls" %>
  </p>
  <%= f.submit "Sign Up", class: "btn btn-success" %>

<% end %>
