<h1>RunLog</h1><%= link_to 'New Run', new_run_path %>





<br />
<table>
  <tr>
    <th>Date</th>
    <th>Distance</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @runs.each do |run| %>
  <tr>
    <td><%= run.created_at.strftime('%m/%d/%Y') %></td>
    <td><%= run.distance %></td>
    <td><%= link_to run.description, run %></td>
    <td><%= link_to 'Edit', edit_run_path(run) %></td>
    <td><%= link_to 'Delete', run, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

