<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @run.description %>
</p>

<p>
  <b>Distance:</b>
  <%= @run.distance %>
</p>


<%= link_to 'Edit', edit_run_path(@run) %> |
<%= link_to 'Back', runs_path %>
